<div class="flyntComponent" is="flynt-block-marquee">
  <div class="container">
    <div class="marquee">
        <div class="marquee--inner" aria-hidden="true">
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
          <span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span><span>{{ textMarquee|e }}</span>
        </div>
    </div>
  </div>
</div>
