<div class="flyntComponent post-custom-main" is="flynt-block-post-header">
  <div class="container fullWidthContainer">
    <div class="post-custom-main-content">
      {# <h1>{{ post.title }}</h1> #}
      {% for component in post.meta('eventPrivacyComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {% for component in post.meta('eventTypeComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {% for component in post.meta('eventConditionComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {% for component in post.meta('eventCapacityComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {% for component in post.meta('eventResultComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </div>
  </div>
</div>
