<div class="flyntComponent" style="background-color: {{ backgroundColor|e }}" is="flynt-block-info">
  <div class="container centerMaxWidthContainer">
    <div class="info-header">{{ infoHeader|e }}</div>
    <div class="content content--{{ textAlignment }}">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    {% if fn('is_front_page') %}
    <button class="go-back hideThis">{{ labels.goBackLabel|e }}</button>
    {% else %}
    <button class="go-back">{{ labels.goBackLabel|e }}</button>
    {% endif %}
  </div>
</div>
